@model IEnumerable<Client.Models.CustomerModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @foreach (var address in item.Address)
                {

                    <p><strong>Street</strong> @address.Street</p>
                    <p><strong>CityTown</strong> @address.CityTown</p>
                    <p><strong>County</strong> @address.County</p>
                    <p><strong>PostalCode</strong> @address.PostalCode</p>
                    <p><strong>Country</strong> @address.Country</p>
                }
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Id }) |

            </td>
        </tr>
}
    </tbody>
</table>
